:root {
    --w: #d5d5d5;
    --b: #171717;
    --dw: #a8a8a8;
  }
body { 
    background-color: var(--b);
    color: var(--w);
    padding-top: 20%;
    padding-left: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    
}
.lock {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#messages {
    background-color: transparent;
    border-radius: 4px;
    max-width: fit-content;
    margin:auto;
    border:0;
}
#messages:hover {
    cursor:grab;
    opacity: 0.7;
}
.messagelist {
    position:fixed;
    background-color: var(--w);
    padding:1rem;
    padding-top:2rem;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.message {
    background-color: var(--b);
    border-radius:5px;
    padding:1rem;
    color:var(--w);
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
.author {
    font-size: x-small;
    color: var(--dw);
    margin-bottom: 0;
}
.date {
    font-size:xx-small;
}
.messagedata {
    font-size: small;
    margin-top:0;
}
::-webkit-scrollbar {
    display:none;
  }
#squirt {
    animation: fade 200ms;
}
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
#logs {
    background-color: transparent;
    border-radius: 4px;
    max-width: fit-content;
    margin:auto;
    border:0;
}
#logs:hover {
    cursor:grab;
    opacity: 0.7;
}
#loglist {
    position:fixed;
    background-color: var(--w);
    padding:1rem;
    padding-top:1rem;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    overflow-y:scroll;
    z-index: 100;
    overflow-x:hidden;
}
@media only screen and (max-width: 600px) {
    #loglist {
        height: 80%;
        width: 80%;
    }
    .messagelist {
        height:80%;
        width:80%;
    }
}